// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  
  padding-bottom: 25px;
  width: 100%;
  padding-top: 70px; // accommodate the navbar

  }
section {
  @extend .row;
  margin-top: 20px;
  }
.alert {
  margin-top: 10px;
}

.form-actions {
  margin-top: 5px;
}

.sidebar {


}

/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  height: 100%;
}
body {
  //padding-top: 70px;
  background-color: #eee;
}
footer {
  padding: 30px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
    padding-right: 15px;
  }
}

.sidebar-offcanvas {
  border-left:1px solid #dddddd;
  padding-right: 0px
}

.bs-sidebar.affix {
  position:static
}

.bs-sidenav {
  margin-top:20px;
  margin-bottom:20px
}

.bs-sidenav li {
  margin-bottom:3px
}

.bs-sidenav .nav .nav li {
  margin-bottom:0px
}

.bs-sidebar .nav>li>a {
  display:block;
  font-size:16px;
  font-weight:500;
  padding:4px 2px
}

.bs-sidebar .nav>li>a:hover,.bs-sidebar .nav>li>a:focus {
  padding-left:1px;
  text-decoration:none;
  //background-color:transparent;
  //border-left:1px solid #563d7c
} 

.bs-sidebar .nav>.active>a,.bs-sidebar .nav>.active:hover>a,.bs-sidebar .nav>.active:focus>a {
  padding-left:0px;
  font-weight:700;
  color:#563d7c;
  background-color:transparent;
  //border-left:2px solid #563d7c 
}

.bs-sidebar .nav .nav {
  
}

.bs-sidebar .nav .nav>li>a {
  padding-top:2px;
  padding-bottom:2px;
  padding-left:20px;
  font-size:14px;
  font-weight:400 
}

.bs-sidebar .nav .nav>li>a:hover,.bs-sidebar .nav .nav>li>a:focus {
  padding-left:19px
}

.bs-sidebar .nav .nav>.active>a,.bs-sidebar .nav .nav>.active:hover>a,.bs-sidebar .nav .nav>.active:focus>a {
  font-weight:500;
  padding-left:18px
}

.bs-sidebar .nav .nav .nav {
  
}

.bs-sidebar .nav .nav .nav>li>a {
  padding-top:2px;
  padding-bottom:2px;
  padding-left:35px;
  font-size:12px;
  font-weight:400 
}

.bs-sidebar .nav .nav .nav>li>a:hover,.bs-sidebar .nav .nav .nav>li>a:focus {
  padding-left:34px
}

.bs-sidebar .nav .nav .nav>.active>a,.bs-sidebar .nav .nav .nav>.active:hover>a,.bs-sidebar .nav .nav .nav>.active:focus>a {
  font-weight:500;
  padding-left:33px
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #222222;
  padding-top: 20px;
  color: #dddddd;
}

textarea.form-control {
  height: 320px;
}

.new-comment textarea.form-control, .event textarea.form-control {
  height: auto;
}

.help-inline {
  @extend .help-block;
  color: red;
}

.control-group {
  padding-bottom: 10px;
}

.panel-default {
  padding-left: 15px;
  padding-right: 15px;
}

div.category h2, div.article h2 {
  margin-bottom: 15px;
}

.bg-info {
  background-color: #f4f8fa;
  padding: 10px;
  border-left: 2px solid #5bc0de;
}

.calendar-btn {
  margin-top: 15px;
  margin-bottom: 15px;
}